@using System.IO;
@using IOPath = System.IO.Path;

@model ApplicationUser
@{
    Layout = "_MiniLayoutTwo";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">

                <div class="alert alert-primary alert-dismissible" role="alert">
                    Message: <span>@TempData[SD.Success]</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Account" asp-action="EditProfile">
                    <input asp-for="@Model.Id" hidden />
                    <input asp-for="@Model.UserId" hidden />
                    <input asp-for="@Model.ApplicationServer" hidden />
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>

                    @* <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div> *@
                    <div class="form-group">
                        <label asp-for="AvatarUrl"></label>
                        <input asp-for="AvatarUrl" class="form-control" />
                        <span asp-validation-for="AvatarUrl" class="text-danger"></span>
                    </div>
                    @{
                        var avatarPath = "../assets/img/avatars";
                        var wwwAvatarPath = "wwwroot/assets/img/avatars";
                    }
                    @foreach (var file in new DirectoryInfo(wwwAvatarPath).GetFiles())
                    {
                        // TODO: pretty this up with css - make it flexbox
                        <img src=@(IOPath.Join(avatarPath, file.Name)) width="128" height="128" data-name=@(file.Name) onclick="setAvatar(event)" />
                    }
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary btn-md">Update</button>
                        <a asp-action="GetUsers" class="btn btn-success btn-sm" style="width: auto"><i
                                class='bx bx-arrow-back'></i>Back</a>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@


@section scripts{
    <script type="text/javascript">
        /**
        * @@param {Event} e
        */
        function setAvatar(e) {
            console.log("Setting avatar to ", e.target.getAttribute("data-name"));
            var avatarUrl = document.getElementById("AvatarUrl");
            avatarUrl.value = e.target.getAttribute("data-name");
        }
    </script>
}
