@model string

<div class="container mb-4">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <form id="messageEditor" autocomplete="off">
                    <input type="hidden" id="recipientInput" value="@Model" readonly />
                    <input type="text" id="messageInput" spellcheck="true" class="form-control"/>
                </form>
            </div>
        </div>
    </div>
</div>