@model ChatViewModel;

@{
  Layout = "/Views/Chat/_ChatLayout.cshtml";
}

<div id="messageWindow" class="h-100 d-flex flex-column pt-4">
    <div id="messageList" class="container pt-4">
        @foreach (var message in (IEnumerable<AIChatMessage>)ViewData["AIChatMessages"])
        {
            @if (!message.IsFromUser)
            {
                <div class="row no-gutters">
                    <div class="col-5">
                        <div class="card">
                            <div class="message-text card-body p-3">@message.Message</div>
                        </div>
                        <p class="text-muted text-start">
                            @message.Timestamp
                        </p>
                    </div>
                    <div class="col-7">
                    </div>
                </div>
            }
            else
            {
                <div class="row no-gutters">
                    <div class="col-7">
                    </div>
                    <div class="col-5">
                        <div class="card">
                            <div class="message-text card-body p-3">@message.Message</div>
                        </div>
                        <p class="text-muted text-end">
                            @message.Timestamp
                        </p>
                    </div>
                </div>
            }
        }
    </div>
    <div id="typingIndicator" class="container pb-4" hidden>
        <div class="row">
            <div class="col-5">
                <button class="btn btn-outline-primary w-100" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="sr-only">Typing...</span>
                </button>
            </div>
            <div class="col-7">
            </div>
        </div>
    </div>
    <div class="flex-grow-1">
    </div>
    @await Html.PartialAsync("_MessageEditor", "Tulip Bot")
</div>

@section scripts {
    <script src="~/js/chat/aiMessage.js" type="module"></script>
}
