@{
  Layout = "/Views/Chat/_ChatLayout.cshtml";
}

<div class="container bg-white m-5 p-4 rounded">
    <div class="row">
        <div class="col-1 pe-1">
            To:
        </div>
        <div class="col-5">
            <input type="text" id="recipientInput" />
        </div>
    </div>
    <div class="row">
        <div class="col-1 pe-1">
            Message:
        </div>
        <div class="col-5">
            <input type="text" id="messageInput" />
        </div>
    </div>
    <input type="button" id="sendButton" value="Send" />
</div>

@section scripts {

}
