@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
  Layout = "/Views/Chat/_ChatLayout.cshtml";
}

@if (User.IsInRole("User"))
{
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ECPJX21DQD"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-ECPJX21DQD');
  </script>

    <div class="row h-100 no-gutters">
        <div class="col-2 h-100 text-end border-end p-0 pt-5">
            <a asp-controller="Home" asp-action="Chat">
                <div class="d-inline-flex align-items-center">
                    <div data-i18n="Without menu" class="pe-1">Compose</div>
                    <i class="menu-icon tf-icons bx bx-note"></i>
                </div>
            </a>
            <hr />
        </div>
    </div>
}

@section scripts {
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}

