@{
  Layout = "/Views/Chat/_ChatLayout.cshtml";
}

<div class="card">
    <ul id="messageList" class="list-group">
        @foreach (var message in Model.CurrentChat.Messages)
        {
            <div class="row">
                <div class="col-6">

                </div>
                <div class="col-6">
                    <li class="list-group-item rounded">
                        [@message.Timestamp] @message.Sender.UserName: @message.Message
                    </li>
                </div>
            </div>
        }
    </ul>
</div>
<div class="container m-5 p-4">
    <div class="row d-none">
        <div class="col-1 pe-1">
            To:
        </div>
        <div class="col-5">
            <input type="text" id="recipientInput" value="@Model.CurrentChat.OtherUser.UserName" />
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <input type="text" id="messageInput" />
                <input class="btn btn-primary card-button" type="button" id="sendButton" value="Send" />
            </div>
        </div>
    </div>

</div>

@section scripts {

}
