@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<div class="container p-5">
    <div class="row ">
        <div class="col">
        </div>
        <div class="col-6">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">
                    An Error Has Occurred
                </h4>
                <p>
                    An error has occurred, please contact your system administrator
                    and have them verify your user information is correct.
                </p>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>

@await Html.PartialAsync("../Chat/_floatingChat")

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}

